<nav
  id="header"
  class="
    bg-gradient-to-b
    from-blue-900
    via-blue-800
    to-blue-900
    shadow-lg
    fixed
    top-0
    z-40
    w-full
    text-white
  "
>
  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <a href="/adopt"><i class="text-4xl fas fa-paw mr-2"></i></a>
      <a href="/adopt" class="font-semibold text-4xl tracking-tight mr-2"
        >Pawbook</a
      >
    </div>

    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <div class="flex justify-end text-sm">
          <a
            href="/adopt"
            class="
              mt-4
              text-2xl
              lg:inline lg:mt-0
              text-teal-200
              hover:text-white
              mr-4
            "
          >
            Adoption
          </a>
          <a
            href="/lostanimal"
            class="
              block
              mt-4
              text-2xl
              lg:inline-block lg:mt-0
              text-teal-200
              hover:text-white
              mr-4
            "
          >
            Lost Animals
          </a>
          <a
            href="/food"
            class="
              block
              mt-4
              text-2xl
              mr-10
              lg:inline-block lg:mt-0
              text-teal-200
              hover:text-white
            "
          >
            Food
          </a>
          <a
            href="/profile/1"
            id="nav-img"
            class="
              inline-block
              px-4
              py-2
              leading-none
              border
              rounded-full
              w-12
              h-12
              border-white
              mt-2
            "
          ></a>
        </div>
        <div class="flex justify-end text-sm">
          <a
            href="/food"
            class="
              block
              mt-4
              mr-10
              lg:inline-block lg:mt-0
              text-teal-200
              hover:text-white
            "
          >
            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
</nav>
