<section>
        <h3 class="font-bold text-2xl flex justify-center mb-8">Select a type of post...</h3>
        <button class="block m-4 p-2 bg-blue-900 hover:bg-blue-800 rounded-lg w-40 shadow-md text-white hover:shadow-xl">Food</button>
        <button class="block m-4 p-2 bg-blue-900 hover:bg-blue-800 rounded-lg w-40 shadow-md text-white hover:shadow-xl">Lost Animal</button>
        <button class="block m-4 p-2 bg-blue-900 hover:bg-blue-800 rounded-lg w-40 shadow-md text-white hover:shadow-xl">Adopt</button>
</section>

<section class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    {{ body }}
</section>