{{> loginHeader}}
<main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
<section class='mt-10'>
  <h1 class="font-bold text-2xl">Upload a Photo!</h1>
  <form id="newAdoptionForm" class='flex flex-col' action='/api/adoption/photo' method='POST' enctype='multipart/form-data'>
  {{!-- <form id="newAdoptionForm" class='flex flex-col' enctype='multipart/form-data'> --}}
    {{!-- <div class='mb-6 pt-3 rounded bg-gray-200'>
      <label
        class='block text-gray-700 text-sm font-bold mb-2 ml-3'
        for='date'
      >Date</label>
      <input
        type='text'
        id='date'
        class='bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3'
      />
    </div>
    <div class='mb-6 pt-3 rounded bg-gray-200'>
      <label
        class='block text-gray-700 text-sm font-bold mb-2 ml-3'
        for='location'
      >Location</label>
      <input
        type='text'
        id='location'
        class='bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3'
      />
    </div>
    <div class='mb-6 pt-3 rounded bg-gray-200'>
      <label
        class='block text-gray-700 text-sm font-bold mb-2 ml-3'
        for='description'
      >Description</label>
      <input
        type='text'
        id='description'
        class='bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3'
      />
    </div> --}}
    {{!-- <div class='mb-6 pt-3 rounded bg-gray-200'>
      <label
        class='block text-gray-700 text-sm font-bold mb-2 ml-3'
        for='password'
      >Image</label>
      <input
        type='image'
        id='image'
        class='bg-gray-200 rounded w-full text-gray-700 focus:outline-none border-b-4 border-gray-300 focus:border-purple-600 transition duration-500 px-3 pb-3'
      />
    </div> --}}


    {{!-- <h3>Upload Profile photo</h3> --}}
    <input id="photo" type='file' name='sampleFile' accept='image/*'/>
    <button
      class='bg-blue-900 hover:bg-blue-800 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200'
      type='submit'
    >Submit</button>
    {{!-- <input type='submit' class='bg-blue-900 hover:bg-blue-800 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200' /> --}}

  </form>
</section>
</main>