
{{!-- {{#each users as |user| }} --}}
<div>
   <img class="justify-start rounded-lg h-48 w-48 inline-block mb-8" src="{{profile.profile_picture}}" alt="">  
      <a class="inline-block ml-2 text-xl font-bold " href="">profile.profile_name</a>

      <p class="text-black-600 text-lg text-center"><strong>Email: </strong> profile.profile_email</p>
      <p class="text-black-600 text-lg text-center"><strong>Phone: </strong> profile.profile_phone</p>
      <p class="text-black-600 text-lg text-center"><strong>Location: </strong> profile.profile_location</p>
</div>
{{!-- {{/each}} --}}