<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pawbook</title>
    <meta name="description" content="">

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <style>
        .body-bg {
            background-color: #2145e8;
            background-image: linear-gradient(315deg, #2145e8 0%, #5f72be 74%);
        }
    </style>
</head>


<body class="body-bg min-h-screen pt-12 md:pt-20 pb-6 px-2 md:px-0" >
  {{!-- <header>
    <nav id="header" class="bg-gradient-to-b from-blue-900 via-blue-800 to-blue-900 shadow-lg fixed top-0 z-40 w-full text-white">
      <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          <i class="text-4xl fas fa-paw mr-2"></i>
          <span class="font-semibold text-4xl tracking-tight mr-2">Pawbook</span>
        </div>
      </nav>
    </nav>
  </header> --}}

  <main class="bg-white max-w-lg mx-auto p-8 md:p-12 my-10 rounded-lg shadow-2xl">
    {{> signIn }}
  </main>
  
</body>

</html>
